.center_h4{
    text-align: center;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color:#d2d2d2;
    border-width: 2px;
    box-shadow:1px 1px 1px 1px #cfcfcf;
}

.form-control {
    border-radius: 5px;
}

.wrapper {
    text-align: center;
}


.container-login {
    padding-top: 100px;
    position: fixed;
}

.espaco_bottom{
    margin-bottom: 30px;
}

.margin_top{
    margin-top: 1px;
}
.banner{
    background-image: url(../estilo/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(255,255,255,.8);
}

.cor_fonte_banner{
    color: #ffffff;
}



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.alert{
	position: fixed;
	top: 70px;
	width: 100%;
}

.rodape{
    height: 65px;
    background-color: #000;
    position: fixed ;
    bottom: 0;
    width: 100%;
}
.pe{
    margin: 0;
    padding: 0;
    height: 70px;
    background-color: #000;
    width: 100%;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}